<div class="panel panel-default" style="margin-bottom: 0">
    <div style="padding-top: 5px;padding-bottom: 5px" class="panel-heading">
        公示
    </div>
    <div style="height:470px" class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="exampleInputName2">申报人：</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Name"
                       ng-model="publicityName">
            </div>
            <div class="form-group">

                <select class="form-control" ng-model="x">
                    <option value="-1">未公示</option>
                    <option value="1">已公示</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default" ng-click="publicityGet()">查询</button>

        </form>

        <table class="table table-striped table-bordered text-center">
            <thead>
            <tr>
                <td>
                    <div class="btn-group">
                        <a>申报人</a>
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-click="order('staff',1)"><a>正序</a></li>
                            <li ng-click="order('staff',-1)"><a>倒序</a></li>
                            <li class="dropdown-submenu"><a>列</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><input type="checkbox">申报人</li>
                                    <li><input type="checkbox">部门</li>
                                    <li><input type="checkbox">类型</li>
                                    <li><input type="checkbox">人数</li>
                                    <li><input type="checkbox">申报时间</li>
                                    <li><input type="checkbox">宴请时间</li>
                                    <li><input type="checkbox">状态</li>
                                    <li><input type="checkbox">action</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <a>部门</a>
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-click="order('staffOrgName',1)"><a>正序</a></li>
                            <li ng-click="order('staffOrgName',-1)"><a>倒序</a></li>
                            <li class="dropdown-submenu"><a>列</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><input type="checkbox">申报人</li>
                                    <li><input type="checkbox">部门</li>
                                    <li><input type="checkbox">类型</li>
                                    <li><input type="checkbox">人数</li>
                                    <li><input type="checkbox">申报时间</li>
                                    <li><input type="checkbox">宴请时间</li>
                                    <li><input type="checkbox">状态</li>
                                    <li><input type="checkbox">action</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <a>类型</a>
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-click="order('eventType',1)"><a>正序</a></li>
                            <li ng-click="order('eventType',-1)"><a>倒序</a></li>
                            <li class="dropdown-submenu"><a>列</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><input type="checkbox">申报人</li>
                                    <li><input type="checkbox">部门</li>
                                    <li><input type="checkbox">类型</li>
                                    <li><input type="checkbox">人数</li>
                                    <li><input type="checkbox">申报时间</li>
                                    <li><input type="checkbox">宴请时间</li>
                                    <li><input type="checkbox">状态</li>
                                    <li><input type="checkbox">action</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <a>人数</a>
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-click="order('peopleCount',1)"><a>正序</a></li>
                            <li ng-click="order('peopleCount',-1)"><a>倒序</a></li>
                            <li class="dropdown-submenu"><a>列</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><input type="checkbox">申报人</li>
                                    <li><input type="checkbox">部门</li>
                                    <li><input type="checkbox">类型</li>
                                    <li><input type="checkbox">人数</li>
                                    <li><input type="checkbox">申报时间</li>
                                    <li><input type="checkbox">宴请时间</li>
                                    <li><input type="checkbox">状态</li>
                                    <li><input type="checkbox">action</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <a>申报时间</a>
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-click="order('createTime',1)"><a>正序</a></li>
                            <li ng-click="order('createTime',-1)"><a>倒序</a></li>
                            <li class="dropdown-submenu"><a>列</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><input type="checkbox">申报人</li>
                                    <li><input type="checkbox">部门</li>
                                    <li><input type="checkbox">类型</li>
                                    <li><input type="checkbox">人数</li>
                                    <li><input type="checkbox">申报时间</li>
                                    <li><input type="checkbox">宴请时间</li>
                                    <li><input type="checkbox">状态</li>
                                    <li><input type="checkbox">action</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <a>宴请时间</a>
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-click="order('eventDate',1)"><a>正序</a></li>
                            <li ng-click="order('eventDate',-1)"><a>倒序</a></li>
                            <li class="dropdown-submenu"><a>列</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><input type="checkbox">申报人</li>
                                    <li><input type="checkbox">部门</li>
                                    <li><input type="checkbox">类型</li>
                                    <li><input type="checkbox">人数</li>
                                    <li><input type="checkbox">申报时间</li>
                                    <li><input type="checkbox">宴请时间</li>
                                    <li><input type="checkbox">状态</li>
                                    <li><input type="checkbox">action</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <a>状态</a>
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-click="order('a',1)"><a>正序</a></li>
                            <li ng-click="order('a',-1)"><a>倒序</a></li>
                            <li class="dropdown-submenu"><a>列</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><input type="checkbox">申报人</li>
                                    <li><input type="checkbox">部门</li>
                                    <li><input type="checkbox">类型</li>
                                    <li><input type="checkbox">人数</li>
                                    <li><input type="checkbox">申报时间</li>
                                    <li><input type="checkbox">宴请时间</li>
                                    <li><input type="checkbox">状态</li>
                                    <li><input type="checkbox">action</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <a>批示意见</a>
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a>正序</a></li>
                            <li><a>倒序</a></li>
                            <li class="dropdown-submenu"><a>列</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><input type="checkbox">申报人</li>
                                    <li><input type="checkbox">部门</li>
                                    <li><input type="checkbox">类型</li>
                                    <li><input type="checkbox">人数</li>
                                    <li><input type="checkbox">申报时间</li>
                                    <li><input type="checkbox">宴请时间</li>
                                    <li><input type="checkbox">状态</li>
                                    <li><input type="checkbox">action</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="show  in showList">x
                <td>{{show.staff}}</td>
                <td>{{show.staffOrgName}}</td>
                <td ng-bind="{'1':'婚嫁','2':'丧葬'}[show.eventType]"></td>
                <td>{{show.peopleCount}}</td>
                <td>{{show.createTime}}</td>
                <td>{{show.eventDate}}</td>
                <td ng-bind="{'-1':'未公示','1':'已公示'}[x]"></td>

                <td>
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal1"
                            ng-click="showContent(show.id)">
                        公示内容
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal2"
                            ng-click="showContent(show.id)">公示结果
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">公示内容</h4>
                </div>
                <form name="pubForm" novalidate>
                    <div class="modal-body">

                        <div class="row" style="margin-bottom:  10px">
                            <div class="form-group"
                                 ng-class="{'has-error':pubForm.$submitted&&pubForm.text.$error.required}">
                                <div class="col-md-2">内容：</div>
                                <div class="col-md-8">
                                <textarea class="form-control" rows="" name="text" ng-model="content"
                                          required></textarea><span style="color: red;font-size: 10px">*必填项</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">附件：</div>
                            <div class="col-md-8">
                                <input class="form-control" name="file" type="file" ng-model="contentFile"
                                       placeholder=""/>
                                <span style="color: red;font-size: 10px">*必填项</span>
                            </div>
                        </div>

                        <div class="clear"></div>
                    </div>

                    <div class="modal-footer ">
                        <div class="col-md-2">

                        </div>

                        <input type="submit" class="btn btn-primary col-md-8"
                               data-dismiss="{{pubForm.$invalid?'':'modal'}}"
                               ng-click="(pubForm.$invalid?'':ContentUp())" value=" 确定"/>

                    </div>
                </form>


            </div>
        </div>
    </div>

    <!--  Modal  -->


    <div class="modal  fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabels">公示结果</h4>
                </div>
                <form name="result" novalidate>
                    <div class="modal-body">
                        <div class="row" style="margin-bottom: 10px">
                            <div class="col-md-2">结果：</div>
                            <div class="col-md-3">
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                           ng-model="resultStatus" value="1" checked="checked"> 通过
                                </label>
                            </div>
                            <div class="col-md-3">
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                           ng-model="resultStatus" value="2"> 有异议
                                </label>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px">
                            <div class="form-group"
                                 ng-class="{'has-error':result.$submitted&&result.cont.$error.required}">
                                <div class="col-md-2">内容：</div>
                                <div class="col-md-8">
                                <textarea name="cont" class="form-control" rows=""
                                          ng-model="showResultContent" required></textarea>
                                    <span style="color: red;font-size: 10px">*必填项</span>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-2">附件：</div>
                            <div class="col-md-8">

                                <input type="file">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-9">
                                <input type="submit" class="btn btn-primary"
                                       data-dismiss="{{result.$invalid?'':'modal'}}" style="width: 100%"
                                       ng-click="(result.$invalid?'':resultUp())" value="确定"/>

                            </div>
                        </div>
                    </div>

                </form>

            </div>

        </div>


    </div>

    <div class="panel-footer">
        <span>
        <i class="btn fa fa-step-backward fa-lg fa-fw" ng-click="publicityFirst()"></i>
        <i class="btn fa fa-caret-left fa-lg fa-fw" ng-click="publicityUp()"></i>
        &nbsp  | &nbsp 第 {{nowPage}} 页，共{{totalPage}}页 &nbsp | &nbsp
         <i class="btn fa fa-caret-right fa-lg fa-fw" ng-click="publicityNext()"></i>
        <i class="btn fa fa-step-forward fa-lg fa-fw" ng-click="publicityLast()"></i>
        &nbsp | &nbsp
        <i class="btn fa fa-refresh fa-lg fa-fw"></i>
        </span>
        <span class="pull-right">显示1-{{publicityLimit}}条，共{{publicityTotal}}条</span></div>
</div>