<div class="panel panel-default" style="margin-bottom: 0">
    <div style="padding-top: 5px;padding-bottom: 5px" class="panel-heading">
        <h4>现场监督</h4>
    </div>
    <div style="height:470px" class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="exampleInputName2">申报人：</label>
                <input type="text" class="form-control" ng-model="staff" id="exampleInputName2" placeholder="Name">
            </div>
            <div class="form-group">
                <select class="form-control" ng-change="auditMake(audit)" ng-model="audit" ng-options="o.v for o in auditArr">
                </select>
            </div>
            <button type="submit" class="btn btn-default" ng-click="search()">查询</button>
        </form>
        <br>
        <table class="table table-striped table-bordered text-center">
            <thead>
            <tr>
                <td>
                    <div class="btn-group">
                        <a>申报人</a>
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-click="order('staff',1)"><a>正序</a></li>
                            <li ng-click="order('staff',-1)"><a>倒序</a></li>
                            <li class="dropdown-submenu"><a href="#">列</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><input type="checkbox">申报人</li>
                                    <li><input type="checkbox">部门</li>
                                    <li><input type="checkbox">类型</li>
                                    <li><input type="checkbox">人数</li>
                                    <li><input type="checkbox">申报时间</li>
                                    <li><input type="checkbox">宴请时间</li>
                                    <li><input type="checkbox">状态</li>
                                    <li><input type="checkbox">action</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <a>部门</a>
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-click="order('staffOrgName',1)"><a>正序</a></li>
                            <li ng-click="order('staffOrgName',-1)"><a>倒序</a></li>
                            <li class="dropdown-submenu"><a href="#">列</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><input type="checkbox">申报人</li>
                                    <li><input type="checkbox">部门</li>
                                    <li><input type="checkbox">类型</li>
                                    <li><input type="checkbox">人数</li>
                                    <li><input type="checkbox">申报时间</li>
                                    <li><input type="checkbox">宴请时间</li>
                                    <li><input type="checkbox">状态</li>
                                    <li><input type="checkbox">action</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <a>类型</a>
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-click="order('eventType',1)"><a>正序</a></li>
                            <li ng-click="order('eventType',-1)"><a>倒序</a></li>
                            <li class="dropdown-submenu"><a href="#">列</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><input type="checkbox">申报人</li>
                                    <li><input type="checkbox">部门</li>
                                    <li><input type="checkbox">类型</li>
                                    <li><input type="checkbox">人数</li>
                                    <li><input type="checkbox">申报时间</li>
                                    <li><input type="checkbox">宴请时间</li>
                                    <li><input type="checkbox">状态</li>
                                    <li><input type="checkbox">action</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <a>人数</a>
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-click="order('peopleCount',1)"><a>正序</a></li>
                            <li ng-click="order('peopleCount',-1)"><a>倒序</a></li>
                            <li class="dropdown-submenu"><a href="#">列</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><input type="checkbox">申报人</li>
                                    <li><input type="checkbox">部门</li>
                                    <li><input type="checkbox">类型</li>
                                    <li><input type="checkbox">人数</li>
                                    <li><input type="checkbox">申报时间</li>
                                    <li><input type="checkbox">宴请时间</li>
                                    <li><input type="checkbox">状态</li>
                                    <li><input type="checkbox">action</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <a>申报时间</a>
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-click="order('createTime',1)"><a>正序</a></li>
                            <li ng-click="order('createTime',-1)"><a>倒序</a></li>
                            <li class="dropdown-submenu"><a href="#">列</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><input type="checkbox">申报人</li>
                                    <li><input type="checkbox">部门</li>
                                    <li><input type="checkbox">类型</li>
                                    <li><input type="checkbox">人数</li>
                                    <li><input type="checkbox">申报时间</li>
                                    <li><input type="checkbox">宴请时间</li>
                                    <li><input type="checkbox">状态</li>
                                    <li><input type="checkbox">action</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <a>宴请时间</a>
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-click="order('eventDate',1)"><a>正序</a></li>
                            <li ng-click="order('eventDate',-1)"><a>倒序</a></li>
                            <li class="dropdown-submenu"><a href="#">列</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><input type="checkbox">申报人</li>
                                    <li><input type="checkbox">部门</li>
                                    <li><input type="checkbox">类型</li>
                                    <li><input type="checkbox">人数</li>
                                    <li><input type="checkbox">申报时间</li>
                                    <li><input type="checkbox">宴请时间</li>
                                    <li><input type="checkbox">状态</li>
                                    <li><input type="checkbox">action</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <a>状态</a>
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-click="order('eventSuperviseReportId',1)"><a>正序</a></li>
                            <li ng-click="order('eventSuperviseReportId',-1)"><a>倒序</a></li>
                            <li class="dropdown-submenu"><a href="#">列</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><input type="checkbox">申报人</li>
                                    <li><input type="checkbox">部门</li>
                                    <li><input type="checkbox">类型</li>
                                    <li><input type="checkbox">人数</li>
                                    <li><input type="checkbox">申报时间</li>
                                    <li><input type="checkbox">宴请时间</li>
                                    <li><input type="checkbox">状态</li>
                                    <li><input type="checkbox">action</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <a>批示意见</a>
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a>正序</a></li>
                            <li><a>倒序</a></li>
                            <li class="dropdown-submenu"><a href="#">列</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><input type="checkbox">申报人</li>
                                    <li><input type="checkbox">部门</li>
                                    <li><input type="checkbox">类型</li>
                                    <li><input type="checkbox">人数</li>
                                    <li><input type="checkbox">申报时间</li>
                                    <li><input type="checkbox">宴请时间</li>
                                    <li><input type="checkbox">状态</li>
                                    <li><input type="checkbox">action</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="v in arr">
                <td ng-bind="v.staff"></td>
                <td ng-bind="v.staffOrgName"></td>
                <td ng-bind="{'1':'婚嫁','2':'丧葬'}[v.eventType]"></td>
                <td ng-bind="v.peopleCount"></td>
                <td ng-bind="v.createTime"></td>
                <td ng-bind="v.eventDate"></td>
                <!--<td ng-bind="{'-1':'未公示','432':'已公示','null':'未公示'}[v.eventSuperviseReportId]"></td>-->
                <td ng-bind="!v.eventSuperviseReportId?'未监督':'已监督'"></td>
                <td>
                    <button type="button" data-toggle="modal" data-target="{{!v.eventSuperviseReportId?'#ModalOK':''}}" class="btn btn-xs" ng-click="!v.eventSuperviseReportId?getId(v.id):''" ng-class="!v.eventSuperviseReportId?'btn-primary':'disabled'">监督报告</button>
                    <button type="button" data-toggle="modal" data-target="{{!v.eventSuperviseReportId?'#ModalNO':''}}" class="btn btn-xs" ng-click="!v.eventSuperviseReportId?getId(v.id):''" ng-class="!v.eventSuperviseReportId?'btn-danger':'disabled'">违纪登记</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="modal fade" id="ModalOK" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="ModalOKLabel">监督报告</h4>
                    </div>
                    <form class="modal-body form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-xs-2 text-center"><label class="control-label">标题:</label></div>
                            <div class="col-xs-10"><input ng-model="MakeTitleOKO.title" class="form-control" type="text"/> </div>
                        </div>
                        <br><br>
                        <div class="form-group">
                            <div class="col-xs-2  text-center"><label class="control-label">内容:</label></div>
                            <div class="col-xs-10"><textarea ng-model="MakeTitleOKO.content" class="form-control" rows="3"></textarea>

                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="makeOk()" data-dismiss="modal">确定</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ModalNO" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="ModalNOLabel">监督报告</h4>
                    </div>
                    <form class="modal-body form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-xs-2 text-center"><label class="control-label">礼金超标:</label></div>
                            <div class="col-xs-5">
                                <input type="radio" name="isCashGiftOutOfLimits" value="1" ng-model="MakeTitleNOO.isCashGiftOutOfLimits"/>是
                            </div>
                            <div class="col-xs-5">
                                <input type="radio" name="isCashGiftOutOfLimits" value="0" ng-model="MakeTitleNOO.isCashGiftOutOfLimits"/>否
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-xs-2 text-center"><label class="control-label">使用公车:</label></div>
                            <div class="col-xs-5">
                                <input type="radio" name="isUsePublicCar" value="1" ng-model="MakeTitleNOO.isUsePublicCar"/>是
                            </div>
                            <div class="col-xs-5">
                                <input type="radio" name="isUsePublicCar" value="0" ng-model="MakeTitleNOO.isUsePublicCar"/>否
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-xs-2 text-center"><label class="control-label">使用公产:</label></div>
                            <div class="col-xs-5">
                                <input type="radio" name="isUsePublicGoods" value="1" ng-model="MakeTitleNOO.isUsePublicGoods"/>是
                            </div>
                            <div class="col-xs-5">
                                <input type="radio" name="isUsePublicGoods" value="0" ng-model="MakeTitleNOO.isUsePublicGoods"/>否
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-xs-2 text-center"><label class="control-label">使用公物:</label></div>
                            <div class="col-xs-5">
                                <input type="radio" name="isUsePublicAsserts" value="1" ng-model="MakeTitleNOO.isUsePublicAsserts"/>是
                            </div>
                            <div class="col-xs-5">
                                <input type="radio" name="isUsePublicAsserts" value="0" ng-model="MakeTitleNOO.isUsePublicAsserts"/>否
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-xs-2 text-center"><label class="control-label">使用公款:</label></div>
                            <div class="col-xs-5">
                                <input type="radio" name="isUsePublicMoney" value="1" ng-model="MakeTitleNOO.isUsePublicMoney"/>是
                            </div>
                            <div class="col-xs-5">
                                <input type="radio" name="isUsePublicMoney" value="0" ng-model="MakeTitleNOO.isUsePublicMoney"/>否
                            </div>
                        </div>
                        <br>
                        <div class="form-group ">
                            <div class="col-xs-2 text-center"><label class="control-label">附件:</label></div>
                            <div class="col-xs-10">
                                <input class="form-control" ng-model="MakeTitleNOO.attachmentFileCode" type="file" placeholder=""/>

                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-xs-2 text-center"><label class="control-label">问题:</label></div>
                            <div class="col-xs-10">
                                <input class="form-control" ng-model="MakeTitleNOO.otherQuestion" type="text" placeholder=""/>

                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-xs-2 text-center"><label class="control-label">意见:</label></div>
                            <div class="col-xs-10">
                                <textarea ng-model="MakeTitleNOO.content" class="form-control" rows="3"></textarea>

                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" ng-click="makeNO()" class="btn btn-default" data-dismiss="modal">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <span>
        <i class="btn fa fa-step-backward fa-lg fa-fw" ng-click="firstPage()"></i>
        <i class="btn fa fa-caret-left fa-lg fa-fw" ng-click="prePage()"></i>
        &nbsp  | &nbsp 第 {{o.page}} 页，共{{pageSum}}页 &nbsp | &nbsp
        <i class="btn fa fa-caret-right fa-lg fa-fw" ng-click="nextPage()"></i>
        <i class="btn fa fa-step-forward fa-lg fa-fw" ng-click="lastPage()"></i>
        &nbsp | &nbsp
        <i class="btn fa fa-refresh fa-lg fa-fw" ng-click="refreshPage()"></i>
        </span>
        <span class="pull-right">显示{{1+(o.page-1)*9}}-{{o.page*o.limit}}条，共{{total}}条</span>
    </div>
</div>